@model EpiserverSite.Models.ViewModels.IPageViewModel<EpiserverSite.Models.Pages.BasePage>

<div id="header">
    <ul>
        @foreach (var item in Model.Layout.MenuItems)
        {
            <li>
                <a class="@(Model.CurrentPage.LinkURL == @item.Link ? "current" : "")" href="@item.Link">@item.Name</a>

                <div class="submenu">
                    @foreach (var subItem in item.SubItems)
                    {
                        <a class="@(Model.CurrentPage.LinkURL == @subItem.Link ? "current" : "")" href="@subItem.Link">@subItem.Name</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>
