@model EpiserverSite.Models.ViewModels.AddUpdateArticlePageViewModel

@using (Html.BeginForm("Update", "ArticlePage", FormMethod.Post))
{
    <div id="updateSection">
        <h3>New values:</h3>
        @Html.LabelFor(m => m.Robots)<br />
        @Html.EditorFor(m => m.Robots)<br />

        @Html.LabelFor(m => m.OpenGraphTitle)<br />
        @Html.EditorFor(m => m.OpenGraphTitle)<br />

        @Html.LabelFor(m => m.MainBody)<br />
        @Html.EditorFor(m => m.MainBody)<br />

        <p>@Html.CheckBoxFor(m => m.UpdatePage) Update current page? (Create new otherwise)</p>

        @Html.LabelFor(m => m.PageName)<br />
        @Html.EditorFor(m => m.PageName)<br />

        @Html.HiddenFor(m => m.Parent)
        @Html.HiddenFor(m => m.CurrentPageId)
        <input id="createButton" type="submit" value="Update/Create" />
    </div>
}