@model EpiserverSite.Models.ViewModels.BlockViewModels.PageListBlockViewModel

<h2>Page List:</h2>

<ul>
    <li>
        <a href="@Url.PageUrl(@Model.RootPage.LinkURL)">@Model.RootPage.PageName</a>
        <ul>
            @foreach (var item in @Model.PageCollection)
            {
                <li><a href="@Url.PageUrl(@item.LinkURL)">@item.PageName</a></li>
            }
        </ul>
    </li>
</ul>
